<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391864326169-894t08hlheqia2tq1ill3ligjgaprtk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391864326169-894t08hlheqia2tq1ill3ligjgaprtk8</string>
	<key>API_KEY</key>
	<string>AIzaSyCc5RaaPJtWFqZeAkGdHvZd1DQyfjQ00n4</string>
	<key>GCM_SENDER_ID</key>
	<string>391864326169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationFirebasenew</string>
	<key>PROJECT_ID</key>
	<string>newfirebase-e7b76</string>
	<key>STORAGE_BUCKET</key>
	<string>newfirebase-e7b76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391864326169:ios:e307efcce7ed08400f3288</string>
</dict>
</plist>